body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
}

#headnav {
  margin: auto;
}

nav {
  margin-left: 30px; 
}

nav>span {
  border-right: 1px dotted;
  padding: 10px 10px 10px 4px;
} 
nav>span:last-child {
  border: 0;
}

tr>* {
  text-align: center;
  padding: 4px;
  max-width: 250px;
}

tr>*:nth-child(odd) {
  background: #f3f3f3;
}

tr:first-child {
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}